<!DOCTYPE html>
<html xmlns:th="thymeleaf.og">
<head>
<meta charset="ISO-8859-1">
<title>Add Barang</title>
</head>
<body>
	<p>
	<form action="#" th:action="@{/addbarang}" method="post">
		<table>
			<tr>
				<td>Nama Barang :</td>
				<td><input type="text" name="nama_barang"></td>
			</tr>
			<tr>
				<td>Supplier :</td>
				<td><input type="text" name="supplier"></td>
			</tr>
			<tr>
				<td>QTY :</td>
				<td><input type="text" name="qty"></td>
			</tr>
			<tr>
				<td><input type="submit" value="Simpan"></td>
				<td></td>
			</tr>
		</table>
	</form>
	</p>
	<p>
	<form th:action="@{/listbarang}">
		<input type="submit" value="Batal">
	</form>
	</p>
</body>
</html>